@media screen and (min-width: 1201px) {
    .t1 {
    font-size: 2.5rem;
    line-height: 2.3125rem
    }
    .t2 {
        font-size: 2.5rem;
        line-height: 2.3125rem
    }
    #des1 {
        font-size: 1.5rem;
        line-height: 2.3125rem
    }
    #des2 {
        font-size: 1.25rem;
        line-height: 2.3125rem
    }
}

@media screen and (min-width: 901px) {
    .t1 {
    font-size: 1.5rem;
    line-height: 2.3125rem
    }
    .t2 {
        font-size: 1.5rem;
        line-height: 2.3125rem
    }
    #des1 {
        font-size: 1.25rem;
        line-height: 2.3125rem
    }
    #des2 {
        font-size: 1.20rem;
        line-height: 2.3125rem
    }
}

@media screen and (min-width: 601px) {
    .t1 {
    font-size: 1.25rem;
    line-height: 2.3125rem
    }
    .t2 {
        font-size: 1.25rem;
        line-height: 2.3125rem
    }
    #des1 {
        font-size: 1rem;
        line-height: 2.3125rem
    }
    #des2 {
        font-size: 1rem;
        line-height: 2.3125rem
    }
}


.section1 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 69%;
    padding-top: 20px;
}

.t1 {
    text-align: right;
    color: white;
    font-size: 35px;
    margin-top: 50px;
    padding: 80px;
    font-family: 'Poppins', sans-serif;
}

.image1 {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.video-container {
    width: 100%;
    height: 600px;
    display: flex;
    background-color: black;
    justify-items: center;
}

.t2 {
    width: 50%;
    height: 400px;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 250px;
    font-family: 'Poppins', sans-serif;
    }

#des2 {
   display: inline-block;
}

.v1 {
    height: 400px !important;
    width: 50% !important;
}

.t3 {
    margin:auto;
    font-family: 'Poppins', sans-serif;
    width: 67%;
    text-align: left;
    font-size: 25px;
    padding: 20px;
    padding-top: 35px;
    color: rgb(85, 82, 82);
}

.sixgrid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 67%;
    justify-content: center;
}

.grid{
    width :33.3%;
}

.img2{
    width: 95%;
    height: 260px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.sub {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    
}

.des {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding-left: 33px;
    padding-top: 15px;
    padding-bottom: 80px;
    
}

.bottomSection {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 69%;
}

.image2 {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.t4 {
    text-align: right;
    color: white;
    font-size: 35px;
    margin-top: 50px;
    padding: 80px;
    font-family: 'Poppins', sans-serif;
}

.v2 {
    height: 400px !important;
    width: 100% !important;
    padding-bottom: 50px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-width: 0.5px;
    border-color: rgb(201, 201, 201);
    background-color: white;
    padding-left: 0px
}

.features {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: left;
    text-indent: 15%;
}

#symbol {
    
    float: right;
    padding-right: 15%;
    
}

.t5 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: bold;
    font-size:25px;
    padding-top: 20px;
    text-indent: 25%;
}

#show {
    font-size: 15px;
    font-weight: normal;
    border-top: 3px solid rgb(201, 201, 201);
    padding-top: 20px; 
}

.only-border{
    border: 3px solid rgb(224, 224, 224);
    width: 50%;
    margin: auto;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 99%;
    padding-top: 15px;
    padding-left: 10px;
    background-color: #ebebeb;

}

.img9 {
   box-shadow: 1px 1px 5px grey; 
   height: 100px
}

.infosec {
    width: 50%;;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.sub9 {
    color: grey;
    font-size: smaller;
    
}

.launch {
    padding-top: 15px;
    font-size: smaller;
    font-weight: bold;

}

.year {
    font-weight: normal;
    font-size: smaller;
}

.select {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 1%;
}

.middle-section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 99%;
    justify-content: center;
}



.img-item {
    width: 95%;
    height: 100px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    
}

.des-item {
    font-family: 'Poppins', sans-serif;
    color: grey;
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding-bottom: 15px;
}

.bottom-Section {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    width: 99%;
    justify-content: left;
    padding-top: 30px;
    
}

.img-select {
    box-shadow: 1px 1px 5px grey; 
    height: 200px;
    width: 40%;
    border: solid 5px forestgreen
}

.info-select {
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    width: 50%;
}

.infostatic {
    font-weight: bold;
    padding-bottom: 0px;
    
}

.button2{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    color: white;
    background-color: black;
    float: right;
}

.delivery {
    
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 69%;
    margin: auto;

}

.item {
    width :20%;
}

.img-On {
    width: 95%;
    height: 100px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    opacity: 0.;
    border: solid 5px forestgreen
}

.img-Off {
    width: 95%;
    height: 100px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    opacity: 0.5;
}

.des-On {
    font-family: 'Poppins', sans-serif;
    color: grey;
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding-bottom: 15px;
}

.des-Off {
    font-family: 'Poppins', sans-serif;
    color: grey;
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding-bottom: 15px;
    opacity: 0.5;
}
